body {
    background-color: #dfecff;
}

.column-width {
    min-width: auto;
    /* width: 320px; */
}


/* Unfortunately @apply cannot be setup in codesandbox, 
but you'd use "@apply border opacity-50 border-blue-500 bg-gray-200" here */

.ghost-card {
    opacity: 0.5;
    background: #F7FAFC;
    border: 1px solid #4299e1;
}

.bg-primary-light {
    background-color: #dfecff;
}