<template>
  <div>
    <div class="container-fluid">
      <div class="col-12">
        <div class="card">
          <div class="card-header">Help & Services</div>
          <div class="card-body">
            <h3>Information</h3>
            <div class="mb-3">
              <label for="titleInput" class="form-label">Title</label>
              <input type="text" class="form-control" id="titleInput" placeholder="" v-model="title">
            </div>
            <div class="mb-3">
              <label for="descriptionInput" class="form-label">Description</label>
              <input type="text" class="form-control" id="descriptionInput" placeholder="review issue description" v-model="description">
            </div>
            <div class="mb-3">
              <label for="contactInput" class="form-label">Contact Information</label>
              <input type="email" class="form-control" id="contactInput" placeholder="example@gmail.com" v-model="email">
            </div>
            <div class="my-3">
              <button class="btn btn-primary submit-button" @click="submit()">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    data() {
      return {
        apiUri: process.env.MIX_APP_URL + '/api/v1',
        title: "",
        description: "",
        email: "",
      }
    },
    methods: {
      async submit() {
        $('.submit-button').prop("disabled", true);
        let self = this;
        var input = {
          headers: {
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "GET, POST, PATCH, PUT, DELETE, OPTIONS",
            "Access-Control-Allow-Headers": "Origin, Content-Type, X-Auth-Token"
          },
          title: this.title,
          description: this.description,
          email: this.email
        }
        await axios.post(this.apiUri + '/send-issue', input)
        .then((data) => {
          if (data.data.status != "success") {
            throw data; 
          }
          Swal.fire({
            icon: 'success',
            text: data.data.message
          }).then(() => {
            self.title = ""
            self.description = ""
            self.email = ""
            $('.submit-button').prop("disabled", false);
          })
        })
        .catch((err) => {
          Swal.fire({
            icon: 'error',
            text: err.data.message
          }).then(() => {
            $('.submit-button').prop("disabled", false);
          })
        })
      }
    },
    watch: {
      title(newValue) {
        console.log(newValue)
      },
      description(newValue) {
        console.log(newValue)
      },
      email(newValue) {
        console.log(newValue)
      }
    },
    mounted() {
      
    },
  }
</script>