<template>
    <div class="bg-white shadow rounded p-3 border border-white">
      <a v-bind:href="'/admin/ticket/'+task.id" class="text-decoration-none">
        <div class="flex justify-between">
          <p class="text-dark font-semibold m-0 font-sans tracking-wide text-sm">{{task.title}}</p>
          <span :class="'badge '+ badgeColor">{{task.status}}</span>
        </div>
      </a>
    </div>
</template>
<script>
export default {
  props: {
    task: {
      type: Object,
      default: () => ({})
    }
  },
  computed: {
    badgeColor() {
      const mappings = {
        pending: "bg-warning",
        accepted: "bg-primary",
        resolved: "bg-success",
        rejected: "bg-danger",
        default: "bg-warning"
      };
      return mappings[this.task.status] || mappings.default;
    }
  }
};
</script>
