<template>
  <div>
    <div class="container-fluid">
      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand">Ticket</a>
          <form class="d-flex p-2">
            <div class="row">
              <div class="col-3">
                <input type="checkbox" class="btn-check mr-2" id="btn-check-outlined" :checked="status.pending" autocomplete="off" @click="updateState('pending', status.pending)">
                <label class="btn btn-outline-warning" for="btn-check-outlined">Pending</label>
              </div>
              <div class="col-3">
                <input type="checkbox" class="btn-check mr-2" id="btn-check-2-outlined" :checked="status.accepted" autocomplete="off" @click="updateState('accepted', status.accepted)">
                <label class="btn btn-outline-primary" for="btn-check-2-outlined">accepted</label>
              </div>
              <div class="col-3">
                <input type="checkbox" class="btn-check mr-2" id="btn-check-3-outlined" :checked="status.resolved" autocomplete="off" @click="updateState('resolved', status.resolved)">
                <label class="btn btn-outline-success" for="btn-check-3-outlined">Resolved</label>
              </div>
              <div class="col-3">
                <input type="checkbox" class="btn-check mr-2" id="btn-check-4-outlined" :checked="status.rejected" autocomplete="off" @click="updateState('rejected', status.rejected)">
                <label class="btn btn-outline-danger" for="btn-check-4-outlined">Rejected</label>
              </div>
            </div>
          </form>
        </div>
      </nav>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="flex justify-center">
            <div class="min-h-screen flex overflow-x-scroll py-12">
              <div class="row">
                <div
                  v-for="column in columns"
                  :key="column.title"
                  class="col-lg-3 col-6 card-100-vh"
                >
                  <div :class="cardColor(column.title) + ' card p-3 my-3 column-width rounded'">
                    <p class="text-white font-semibold font-sans tracking-wide text-sm">{{column.title}}</p>
                    <draggable 
                      :list="column.tasks" 
                      :animation="200" 
                      ghost-class="ghost-card" 
                      group="tasks"
                      @change ="onDragEnd">
                      <task-card
                        v-for="(task) in column.tasks"
                        :key="task.id"
                        :task="task"
                        class="mt-3 cursor-move"
                      ></task-card>
                    </draggable>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  import draggable from "vuedraggable";
  import TaskCard from "./TaskCardComponent.vue";
  // import vDragDrop from 'v-drag-drop';
  // import { draggable, droppable } from 'v-drag-drop';

  export default {
    components: {
      TaskCard,
      draggable
    },
    data() {
      return {
        apiUri: process.env.MIX_APP_URL + '/api/v1',
        status: {
          pending: true,
          accepted: true,
          resolved: true,
          rejected: true
        },
        tickets: [],
        columns: [{
          title: "Pending",
          tasks: []
        },{
          title: "Accepted",
          tasks: []
        }, {
          title: "Resolved",
          task: []
        }, {
          title: "Rejected",
          task: []
        }]
      }
    },
    computed: {
      // cardColor(title) {
      //   const mappings = {
      //     pending: "bg-warning",
      //     accepted: "bg-primary",
      //     resolved: "bg-success",
      //     rejected: "bg-danger",
      //     default: "bg-warning"
      //   };
      //   console.log(title)
      //   // return mappings[this.task.status] || mappings.default;
      // }
    },
    methods: {
      cardColor(title) {
        const mappings = {
          Pending: "bg-warning",
          Accepted: "bg-primary",
          Resolved: "bg-success",
          Rejected: "bg-danger",
          default: "bg-warning"
        };
        // console.log(title)
        return mappings[title] || mappings.default;
      },
      updateState(state, bool) {
        switch (state) {
          case "pending":
            this.status.pending = !bool
            break;
          
          case "accepted":
            this.status.accepted = !bool
            break;
          
          case "resolved":
            this.status.resolved = !bool
            break;
          
          case "rejected":
            this.status.rejected = !bool
            break;
        }
        this.fetchTicket()
      },
      onDragEnd(e, originalEvent) {
        let self = this;
        var column = this.columns.find(item => {
          var task = item.tasks.find(item => {
            if (item && e.added && item.id == e.added.element.id) {
              return true
            }
          })

          if (task && task.id) {
            return item.title;
          }
        })
        if (column) {
          var state = column.title;
          var item = e.added.element;
          var input = {
            state: state,
            ticket: item
          }
          axios.post(this.apiUri + '/update-status', {
            headers: {
              'Allow-origin-header': '*'
            },
            params: input
          }).then((data) => {
            self.fetchTicket()
          })
        }
        
      },
      async fetchTicket() {
        let self = this
        var input = {
          'pending': this.status.pending,
          'accepted': this.status.accepted,
          'resolved': this.status.resolved,
          'rejected': this.status.rejected,
        }
        var res = await axios.get(this.apiUri + '/get-tickets', {
          params: input
        })
        .then(({data}) => {
          var pending = data.filter(item => {
            return item.status == 'pending'
          });
          var accepted = data.filter(item => {
            return item.status == 'accepted'
          });
          var resolved = data.filter(item => {
            return item.status == 'resolved'
          });
          var rejected = data.filter(item => {
            return item.status == 'rejected'
          });

          var pendingTask = self.columns.find(item => {
            return item.title == 'Pending'
          });
          var acceptedTask = self.columns.find(item => {
            return item.title == 'Accepted'
          });
          var resolvedTask = self.columns.find(item => {
            return item.title == 'Resolved'
          });
          var rejectedTask = self.columns.find(item => {
            return item.title == 'Rejected'
          });
          pendingTask.tasks = pending
          acceptedTask.tasks = accepted
          resolvedTask.tasks = resolved
          rejectedTask.tasks = rejected
          // pendingTask.tasks.push(pending)
          // acceptedTask.tasks.push(accepted)
          // resolvedTask.tasks.push(resolved)
          // rejectedTask.tasks.push(rejected)

        })
      }
    },
    watch: {
      columns(newValue) {
        console.log(newValue)
      }
    },
    mounted() {
      this.fetchTicket()
    },
  }
</script>