<template>
  <div>
    <div class="container-fluid">
      <nav class="navbar navbar-light bg-light mb-2">
        <div class="container-fluid">
          <a class="navbar-brand">Ticket</a>
        </div>
      </nav>
      <div class="row">
        <div class="col-12" v-if="ticket && ticket.id">
          <div class="card">
            <div class="card-body">
              <h3>Information</h3>
              <div class="mb-3">
                <label for="titleInput" class="form-label">Title</label>
                <input type="text" class="form-control" id="titleInput" placeholder="" v-model="ticket.title" readonly>
              </div>
              <div class="mb-3">
                <label for="descriptionInput" class="form-label">Description</label>
                <input type="text" class="form-control" id="descriptionInput" placeholder="review issue description" v-model="ticket.description" readonly>
              </div>
              <div class="mb-3">
                <label for="contactInput" class="form-label">Contact Information</label>
                <input type="email" class="form-control" id="contactInput" placeholder="example@gmail.com" v-model="ticket.email" readonly>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        data() {
          return {
            apiUri: process.env.MIX_APP_URL + '/api/v1',
            ticket: {}
          }
        },
        methods: {
          getTicket() {
            let self = this;
            axios.get(this.apiUri + '/get-ticket/', {
              params: {
                id: window.location.href.split('/').pop()
              }
            })
            .then(({data}) => {
              self.ticket = data
            })
          }
        },
        mounted() {
            this.getTicket()
        },
    }
</script>